body {
  background-color: #f8f8f8;
}

.login-container 
{
  h2 
  {
    color:#0D5BBE;
    margin: 0;
  }
  width: 575px;
  margin: 50px auto;
}

.input-group-addon
{
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
  color: rgb(255, 255, 255);
}

.form-control:focus
{
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
  color: rgb(255, 255, 255);
}

.form-signin input[type="text"],.form-signin input[type="password"] { border: 1px solid rgb(50, 118, 177); }

h1,h2,h3,h4,h5,h6,.brand
{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  min-height: 568px;
  background-color: #fff;
}

@media(min-width:768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

.navbar-top-links {
  li {
    display: inline-block;
    :last-child {
      margin-right: 15px;
    }
    a {
      padding: 15px;
      min-height: 50px;
    }
  }

  .dropdown-menu {
    li {
      display: block;
      :last-child {
        margin-right: 0;
      }
      a {
        padding: 3px 20px;
        min-height: 0;
        div {
          white-space: normal;
        }
      }
    }
  }
  
  .dropdown-user {
    right: 0;
    left: auto;
  }
}

.sidebar {
  .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
  }

  ul {
    li {
      border-bottom: 1px solid #e7e7e7;
      a.active {
        background-color: #eee;
      }
    }
  }

  .arrow {
    float: right;
  }

  .fa.arrow:before {
    content: "\f104";
  }

  .active>a>.fa.arrow:before {
    content: "\f107";
  }

  .nav-second-level {
    li {
      border-bottom: 0!important;
      a {
        padding-left: 37px;
      }
    }
  }

  .nav-third-level {
    li {
      border-bottom: 0!important;
      a {
        padding-left: 52px;
      }
    }
  }
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
}

.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* footer */
#footer {
  height: 60px;
  color: #eee;
  p {
    margin-top: 15px;
    margin-left: 20px;
    color: #949191;
    text-align:center;
  }
}