<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      <%= @current_page[:parent] %>
    </h1>
    <%= render partial: 'layouts/alert_messages' %>
    <ol class="breadcrumb">
      <li class="active">
        <i class="fa <%= @current_page[:icon] %>"></i> <%= @current_page[:child] %>
      </li>
    </ol>
  </div>
</div>
<!-- /.row -->