<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse nav-background">
  <ul class="nav navbar-nav side-nav">
    <li class="active">
      <a href="/"><i class="fa fa-fw fa-dashboard"></i>Dashboard</a>
    </li>
    <li>
      <a href="javascript:;" data-toggle="collapse" data-target="#features"><i class="fa fa-fw fa-arrows-v"></i> Superadmin Panel <i class="fa fa-fw fa-caret-down"></i></a>
      <ul id="features" class="collapse">
        <li>
          <a href="#"><i class="glyphicon glyphicon-cog"></i>  Roles</a>
        </li>
        <li>
          <a href="#"><i class="glyphicon glyphicon-user"></i>  Users</a>
        </li>
      </ul>
    </li>
    <!-- <li>
      <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i></a>
    </li>
    <li>
      <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
    </li>
    <li>
      <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
    </li>
    <li>
      <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
    </li>
    <li>
      <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a> -->
    </li>
  </ul>
</div>